/* Custom Stylesheet */

/*FORM STYLING*/
.logOrReg{
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1vh solid #fff;
}
.global-lor{
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
  height: 60%;
  bottom: 0;
  position: relative;
  bottom: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: sans-serif;
  transition: 0.2s ease-in-out;
  border: 0.2vh solid rgba(#000000, 0);
}
.active{
  background: #fff;
  color: black;
  border: 0.2vh solid #fff;
}
.global-lor:hover{
  cursor: pointer;
  border: 0.2vh solid #fff;
}
.forms{
  width: 100%;
  height: 90%;
  position: relative;
}
.login_form{
  background: #fff;
  height: 45%;
}
.reg_form{
  background: white;
  height: 75%;
}
.form-wrapper{
  position: relative;
  top: 30vh;
  max-width: 700px;
  margin: 50px auto;
}

/*Other stuff*/
body{
  height: 200vh;
  overflow: hidden;
  background: #535a5b;
}
#fullpage{
}

/*Initial Page*/
.landingPage{
  z-index: 100;
  position: absolute;
  height: 95vh;
  top: 0;
  width: 102vw;
  left: -1vw;
  background: url("http://all4desktop.com/data_images/original/4238051-background.jpg");
  background-size: cover;
}
.more{
  position: absolute;
  width: 102vw;
  left: -1vw;
  height: 6vh;
  bottom: -1vh;
  background: #56bc8a;
  text-align: center;
  padding-top: 10px;
}
.more:hover{
  cursor: pointer;
}
.buttons{
  position: relative;
  margin: 0 auto;
  top: 50%;
}
.lgt{
  position: relative;
  max-width: 300px;
  border-radius: 25px;
  max-height: 100px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.login{
  border: 3px solid #ccc;
  background: rgba(47, 47, 47, 0.61);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.login:hover{
  border: 3px solid #222;
  border-radius: 0px;
  transform: scale(1.1);
  background: #222;
}
.getStarted{
  border: 3px solid rgb(208, 41, 76);
  background: rgb(208, 41, 76);
  transition: 0.3s ease-in-out;
}
.getStarted:hover{
  border-radius: 0px;
  transform: scale(1.1);
}
.text{
  position: relative;
  margin: 0 auto;
  bottom: 0;
}
.slogan{
  max-width: 1000px;
  position: absolute;
  z-index: 102;
  color: white;
  text-align: center;
  font-size: 5vh;
  font-family: 'Roboto', sans-serif;
  top: 15vh;
  margin-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*Second page*/
.know-more-1{
  width: 102vw;
  left: -1vw;
  height: 105vh;
  position: relative;
  background: #56bc8a;
}
.teamLabel{
  position: relative;
  margin: 0 auto;
  top: 5vh;
  max-width: 400px;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 40px;
  border: 5px solid #ccc;
  background: #222;
  border-radius: 25px;
}
.members{
  width: 102vw;
  bottom: -10px;
  position: absolute;
  height: 80vh;
  overflow: scroll;
  align-items: center;
}
.item{
  width: 260px;
  height: 260px;
  border: 10px solid #ccc;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.item:after{
  content: "Asen Georgiev";
  position: absolute;
  background: red;
  z-index: 101;
  width: 250px;
  height: 4vh;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  background: #222;
  color: white;
  transform-origin: 0 50%;
  transform: scaleX(0);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.item:hover:after{
  opacity: 1;
  transform: scaleX(1);
}
.mem-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6vh;
  perspective: 1000px;
}
.teamPic{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  transform-origin: center;
  transform: translate(-3%, -3%);
  z-index: 100;
}
.smallPic{
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
}
.membersSmall{
  width: 102vw;
  bottom: -10px;
  position: absolute;
  height: 80vh;
  overflow: scroll;
  align-items: center;
}
.hide-on-med-and-up{
  font-size: 1.3rem;
  position: relative;
  top: -3vh;
}
